---
import Layout from '../layouts/Layout.astro';
import MainNewsLayout from '../components/MainNewsLayout.astro';
import TrendScroll from '../components/TrendScroll.astro';
---

<Layout title="TOP">
  <div slot="top-full">
    <MainNewsLayout />
    
    <TrendScroll />
  </div>

  <div class="lower-content">
    <p style="color: #999; font-size: 14px; padding: 40px 0; text-align: center; border: 1px dashed #eee;">
      ここから下に、ジャンル別のニュースや最新記事一覧を追加していく予定です。
    </p>
  </div>
</Layout>
