---
import Layout from '../layouts/Layout.astro';
import MainNewsLayout from '../components/MainNewsLayout.astro';
import TrendScroll from '../components/TrendScroll.astro';
import GoogleAdBanner from '../components/GoogleAdBanner.astro';
---

<Layout title="TOP">
  <div slot="top-full">
    <MainNewsLayout />
    <TrendScroll />
  </div>

  <GoogleAdBanner position="上部" />

  <div class="main-news-list">
    </div>

  <GoogleAdBanner position="下部" />

</Layout>
