---
/* このファイルは「案内看板」です。
  ここ（24watchin.com/）に来た人を、一瞬で /ja/jp/ へ飛ばします。
*/
---
<meta http-equiv="refresh" content="0;url=/ja/jp/" />

<script is:inline>
  // プログラムの力で、より確実に新しいページへ案内します
  window.location.href = "/ja/jp/";
</script>

<title>Redirecting to 24Watchin Japan...</title>
<p style="text-align: center; margin-top: 50px; font-family: sans-serif;">
  日本版ページへ移動しています。自動で変わらない場合は
  <a href="/ja/jp/">こちらをクリックしてください</a>。
</p>
