---
import Layout from '../layouts/Layout.astro';
import MainNewsLayout from '../components/MainNewsLayout.astro';
import TrendScroll from '../components/TrendScroll.astro';
---

<Layout title="TOP">
  <div slot="top-full">
    <MainNewsLayout />
  </div>

  <div style="display:none;"></div>

  <div slot="bottom-wide">
    <TrendScroll />
  </div>
</Layout>
