---
import AccessRanking from './AccessRanking.astro';
import GoogleAdBanner from './GoogleAdBanner.astro';
import EditorsPick from './EditorsPick.astro';
import WeatherWidget from './WeatherWidget.astro';
import GlobalRegionNewsSidebar from './GlobalRegionNewsSidebar.astro';

const { allPosts = [] } = Astro.props;

const currentPath = Astro.url.pathname;
const pathParts = currentPath.split('/').filter(Boolean);
const lang = pathParts[0] || 'ja';
const country = pathParts[1] || 'jp';
---

<div class="sidebar-wrapper">
  <WeatherWidget />
  <AccessRanking />
  <GoogleAdBanner />
  <EditorsPick allPosts={allPosts} />

  <GlobalRegionNewsSidebar
    lang={lang}
    country={country}
    allPosts={allPosts}
  />
</div>

<style>
  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .sidebar-wrapper > :global(*) {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    box-sizing: border-box !important;
  }
</style>
